{% extends 'core/class_based/base.html' %}


{% block content %}
{% include "core/class_based/footer.html" %}
<form> 
    <input type="text" name=name class="search" placeholder="Поиск по ФИО">
    <input type="submit" name="submit" class="submit" value="Поиск">
    <input type="text" name=code class="search" placeholder="Поиск по коду">
    <input type="submit" name="submit" class="submit" value="Поиск">
    <input type="text" name=status class="search" placeholder="Поиск по статусу">
    <input type="submit" name="submit" class="submit" value="Поиск">
</form>
<h1> {{title}}</h1>
<h3> Среднее количество вызванных служб - {{avg_em.emergency__avg|floatformat}}</h3>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Номер обращения</th>
        <th scope="col">Дата обращения</th>
        <th scope="col">Количество пострадавших</th>
        <th scope="col">Звонить?</th>
        <th scope="col">Вызванные службы</th>
        <th scope="col">Время с обращения</th>
      </tr>
    </thead>
    <tbody>
        {% for a in appeals.qs %}
      <tr>
        <th scope="row">{{a.number}}</th>
        <td>{{ a.date|date:"d.m.Y"}}</td>
        <td>{{ a.number_of_victims}}</td>
        <td>{{ a.dont_call|yesno:"да,нет" }}</td>
        <td>
            {% for i in a.emergency.all %}
                    <h4>{{i|upper}}</h4> 
                {% empty %}
                    <h4>Службы не назначены</h4> 
                {% endfor %}
        </td>
        <td>{{ a.date|timesince:n}}</td>

      </tr>
      {% empty %}
      <h4> Не найдено </h4>
    {% endfor %}
    </tbody>
  </table>
<h3> Количество обращений - {{count_appeal}}</h3>

{% endblock %}
