{% extends 'core/base.html' %}


{% block content %}
{% include "core/footer.html" %}
<h1> {{title}}</h1>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Название службы</th>
        <th scope="col">Телефон</th>
        <th scope="col">Код</th>
      </tr>
    </thead>
    <tbody>
        {% for a in emergencies %}
      <tr>
        <th scope="row">{{a.name|upper}}</th>
        <td>{{a.telephone}}</td>
        <td>{{a.code}}</td>
      </tr>
      {% empty %}
      <h4> Не найдено </h4>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}
