{% extends 'core/base.html' %}


{% block content %}
{% include "core/footer.html" %}
<h1> {{title}}</h1>
<h3> Среднее количество вызванных служб - {{avg_em.emergency__avg|floatformat}}</h3>
<table>
    <tr>
      <th>Номер обращения</th>
      <th>Дата обращения</th>
      <th>Количество пострадавших</th>
      <th>Звонить?</th>
      <th>Статус</th>
      <th>Вызванные службы</th>
      <th> Время с обращения</th>
    </tr>
    <tr>
        <th>
            <ul>
                {% for a in appeals %}
                <h4> {{a.number}}</h4>
                {% endfor %}
            </ul>
        </th>
        <th>
            <ul>
                {% for a in appeals %}
                <h4> {{a.date|date:"d.m.Y"}}</h4>
                {% endfor %}
            </ul>
        </th>
        <th>
            <ul>
                {% for a in appeals %}
                <h4> {{a.number_of_victims}}</h4>
                {% endfor %}
            </ul>
        </th>
        <th>
            <ul>
                {% for a in appeals %}
                <h4> {{a.dont_call|yesno:"да,нет"}}</h4>
                {% endfor %}
            </ul>
        </th>
        <th>
            <ul>
                {% for a in appeals %}
                <h4> {{a.status}}</h4>
                {% endfor %}
            </ul>
        </th>
        <th>
            <ul>
                {% for a in appeals %}
                {% for i in a.emergency.all %}
                    <h4>{{i|upper}}</h4> 
                {% empty %}
                    <h4>Службы не назначены</h4> 
                {% endfor %}
                <h4>--------------</h4>
                {% endfor %}
            </ul>
        </th>
        <th>
            <ul>
                {% for a in appeals %}
                <h4> {{a.date|timesince:now}}</h4>
                {% endfor %}
            </ul>
        </th>
    </tr>
</table>
<h3> Количество обращений - {{count_appeal}}</h3>

{% endblock %}
