{% extends 'core/functional/base.html' %}


{% block content %}
{% include "core/functional/footer.html" %}
<form> 
    <input type="text" name=name class="search" placeholder="Поиск по ФИО">
    <input type="submit" name="submit" class="submit" value="Поиск">
    <input type="text" name=telephone class="search" placeholder="Поиск по номеру телефона">
    <input type="submit" name="submit" class="submit" value="Поиск">
    <input type="text" name=birth class="search" placeholder="Поиск по году рождения">
    <input type="submit" name="submit" class="submit" value="Поиск">
  </form>
<h1> {{title}}</h1>
<table class="table">
    <thead>
      <tr>
        <th scope="col">ФИО</th>
        <th scope="col">Пол</th>
        <th scope="col">Дата рождения</th>
        <th scope="col">Телефон</th>
        <th scope="col">Состояние</th>
      </tr>
    </thead>
    <tbody>
        {% for a in applicants.qs %}
      <tr>
        <th scope="row">{{a.name|title}}</th>
        <td>{{ a.gender|default_if_none:"-"}}</td>
        <td>{{a.birth|default_if_none:"-"|date:"d.m.Y"}}</td>
        <td>{{a.telephone|default_if_none:"-"}}</td>
        <td>{{a.health|default_if_none:"-"}}</td>
      </tr>
      {% empty %}
      <h4> Не найдено </h4>
    {% endfor %}
    </tbody>
  </table>

  {% endblock %}